In [ ]:
#nInstall mysql-connector-python package
pip install mysql-connector-python --trusted-host pypi.org --trusted-host files.pythonhosted.org

In [ ]:
#create connection to db server
import mysql.connector
db1 = mysql.connector.connect(host = '127.0.0.1', user = 'root', password = 'Root@123', port =3306 )
print(db1)
print(f'The date is: {mysql.connector.Date(year=2023, month=3, day=10)}')

In [ ]:
#Example: create a new DB

#Create a mysql db server connection
import mysql.connector
my_connection = mysql.connector.connect(host = '127.0.0.1', user = 'root', password = 'Root@123', port = 3306)
print(my_connection)

In [ ]:
#create Db
my_cursor = my_connection.cursor() #querry records from db
my_db = 'CREATE database Customer'
my_cursor.execute(my_db) #execute db

In [ ]:
#Check list of dbs
my_cursor = my_connection.cursor()
print('List of Databases is:')
my_cursor.execute('SHOW DATABASES')
print(my_cursor.fetchall()) #print read records

In [ ]:
#Example: Show existing Dbs
import mysql.connector
mydb = mysql.connector.connect(host = '127.0.0.1', user = 'root', password ='Root@123', port =3306)
mycursor =mydb.cursor()
print('List of dbs is:')
mycursor.execute("SHOW DATABASES")
print(mycursor.fetchall()) #print read records

In [ ]:
#Example: Show existing tables in a db
import mysql.connector
mydb = mysql.connector.connect(host = '127.0.0.1', user = 'root', password ='Root@123', port =3306, database="MYDATABASE")
mycursor =mydb.cursor()
print('List of tables is:')
mycursor.execute("SHOW TABLES")
print(mycursor.fetchall()) #print read records

In [ ]:
#EXAMPLE I: CREATE TABLE STUDENTS AND ADD RECORD TO IT

#Step 1: Test connection to the mysql db server
import mysql.connector
mydb = mysql.connector.connect(host="localhost", user="root", password="Root@123")
mycursor =mydb.cursor()

In [ ]:
#Step 2: create database mydatabase
mycursor = my_db.cursor() 
my_sql_db = 'CREATE datatbase Mydatabase'
mycursor.execte(my_sql_db) #execute the db

In [ ]:

#Step 3: Check list of dbs
print('List of Databases created is:')
my_cursor.execute('SHOW DATABASES')
print(my_cursor.fetchall()) #print read records

In [ ]:

#Step 4: Connect to the db
import mysql.connector
mydb = mysql.connector.connect(host="localhost", user="root", password="Root@123", database="MYDATABASE")
mycursor =mydb.cursor()
print(f'Connection successful for db objects \n{mydb}')

In [ ]:

#Step 5 Check the created dbs
print('The list of created databases is:')
mycursor.execute('SHOW DATABASES')
print(mycursor.fetchall()) #print fetched records

In [ ]:

#Step 6: create table Students with columns
mycursor.execute("CREATE TABLE Students(name VARCHAR(255), address VARCHAR(255), age INT)")
mycursor.execute("SHOW TABLES") #show tables

In [ ]:
#Step 7: Create rows 1 & 2 and execute them
sql = "INSERT INTO Students (name, address, age) VALUES ('John', 'Nairobi', 28)"
sql1 = "INSERT INTO Students (name, address, age) VALUES ('Simon', 'Nyeri', 20)"
print(mycursor.fetchall()) ##print fetched records
mycursor.execute(sql)
mycursor.execute(sql1)

mydb.commit() #commit
print(mycursor.rowcount, "record inserted.")

In [ ]:
#Step 8: Querry db
mycursor.execute("SELECT * FROM Students")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [ ]:
#EXAMPLE II: CREATE A CUSTOMERS TABLE IN CUSTOMERS DB AND INSERT DATA TO IT

#Step 1: Test connection to mysql db server
import mysql.connector
my_db = mysql.connector.connect(host = '127.0.0.1', user = 'root', password = 'Root@123', port =3306)
mycursor =my_db.cursor()
print(f'Connection to db server successfull \n{mycursor}')

In [ ]:
#Step 2: Create db
my_cursor = my_db.cursor() 
my_sql_db = "CREATE database Customers";  #create db
my_cursor.execute(my_sql_db) #execute the db

In [ ]:
#Step 3: Check list of dbs
print('List of Databases created is:')
my_cursor.execute('SHOW DATABASES')
print(my_cursor.fetchall()) #print read records

In [ ]:
#Step 4: Connect to the the db
import mysql.connector
my_db = mysql.connector.connect(host = '127.0.0.1', user = 'root', password = 'Root@123', port =3306, database = 'Customers')
mycursor =my_db.cursor() #querry records from the db
print(f'Connected to db \n{my_db}')

In [ ]:
#Step 5: create table
# my_cursor.execute('CREATE TABLE Customers(CustomerID INT Gender VARCHAR(255) Age INT Annual Income ($) INT Spending Score (1-100) INT Profession VARCHAR(255) Work Experience INT Family Size INT')
my_cursor.execute('CREATE TABLE Customers(Customer_ID INT, Gender VARCHAR(255), Age INT, Annual_Income77($) INT, Spending_Score(1-100) INT, Profession VARCHAR(255), Work_Experience INT, Family_Size INT')

In [ ]:
#STep 6: Insert data in rows
row1 = "INSERT INTO Customers (CustomerID, Gender, Age,	Annual Income ($), Spending Score (1-100),  Profession, Work Experience, Family Size) VALUES (1, 'Male', 19, 15000, 39, 'Healthcare', 1, 4)"
row2 = "INSERT INTO Customers (CustomerID, Gender, Age,	Annual Income ($), Spending Score (1-100),  Profession, Work Experience, Family Size) VALUES (2, 'Male', 21, 35000,	81, 'Engineer',	3, 3)"
row3 = "INSERT INTO Customers (CustomerID, Gender, Age,	Annual Income ($), Spending Score (1-100),  Profession, Work Experience, Family Size) VALUES (3, 'Female', 20, 86000, 6, 'Engineer', 1,	1)"
print(mycursor.fetchall()) #print fetched records

# Execute the rows
my_cursor.execute(row1)
my_cursor.execute(row2)
my_cursor.execute(row3)

In [ ]:
#Step 7:  commit to db
my_db.commit() 
print(f'{my_cursor.rowcount} records inserted to the db')

In [ ]:
#Step 8: Querry & print results
my_cursor.execute("SELECT * FROM Customers")
my_result = my_cursor.fetchall()

for j in my_result:
    print(j)

In [ ]:
'''
EXAMPLE III:
1. Implement the Hospital Information System. In this exercise, Create a database with two tables, Hospital and Doctor.

 
2. TABLE Hospital has the following:
    Hospital_Id  
    Hospital_Name
    Bed_Count
    PRIMARY KEY (Hospital_Id)


3. INSERT INTO Hospital the values  
('1', 'Mayo Clinic', 200),
('2', 'Cleveland Clinic', 400),
('3', 'Johns Hopkins', 1000),
('4', 'UCLA Medical Center', 1500);

3. CREATE TABLE Doctor(
    Doctor_Id
    Doctor_Name
    Hospital_Id  
    Joining_Date
    Speciality
    Salary
    Experience
    PRIMARY KEY (Doctor_Id)


4. INSERT INTO Doctor the following values
('101', 'David', '1', '2005-2-10', 'Pediatric', '40000', NULL),
('102', 'Michael', '1', '2018-07-23', 'Oncologist', '20000', NULL),
('103', 'Susan', '2', '2016-05-19', 'Garnacologist', '25000', NULL),
('104', 'Robert', '2', '2017-12-28', 'Pediatric ', '28000', NULL),
('105', 'Linda', '3', '2004-06-04', 'Garnacologist', '42000', NULL),
('106', 'William', '3', '2012-09-11', 'Dermatologist', '30000', NULL),
('107', 'Richard', '4', '2014-08-21', 'Garnacologist', '32000', NULL),
('108', 'Karen', '4', '2011-10-17', 'Radiologist', '30000', NULL);
'''
#CODE

#Step 1: Test connection to the db server
import mysql.connector 
mysql_db = mysql.connector.connect(host ='127.0.0.1', user = 'root', password ='Root@123', port = 3306 )
print(mysql_db)
my_cursor = mysql_db.cursor() #select db

In [ ]:
#Step2: create db
my_cursor = mysql_db.cursor() 
his_db = 'CREATE database HISystem'
my_cursor.execute(his_db)  #execute db

In [ ]:
#Step 3: Connect to the created db
import mysql.connector 
mysql_db = mysql.connector.connect(host ='127.0.0.1', user = 'root', password ='Root@123', port = 3306, database = 'HISystem' )
print(mysql_db)
my_cursor = mysql_db.cursor() #select db

In [ ]:
#Step 4: Check if db exits
print('The available databases are:\n')
my_cursor.execute('SHOW DATABASES')
print(my_cursor.fetchall())

In [ ]:
#Step 5: create Hospital table
my_cursor.execute('CREATE TABLE Hospital ( Hospital_Id VARCHAR(255), Hospital_Name VARCHAR(255), Bed_Count INT)')
mycursor.execute("ALTER TABLE Hospital ADD PRIMARY KEY(Hospital_ID)") #make Hospital ID pk
my_cursor.execute("SHOW TABLES") #show tables
# print(my_cursor.fetchall())

In [ ]:
#Step 6: Insert  Rows
row1="INSERT INTO Hospital(Hospital_Id, Hospital_Name, Bed_Count) VALUES ('1', 'Mayo Clinic', 200)" 
row2="INSERT INTO Hospital(Hospital_Id, Hospital_Name, Bed_Count) VALUES ('2', 'Cleveland Clinic', 400)" 
row3="INSERT INTO Hospital(Hospital_Id, Hospital_Name, Bed_Count) VALUES ('3', 'Johns Hopkins', 1000)" 
row4="INSERT INTO Hospital(Hospital_Id, Hospital_Name, Bed_Count) VALUES ('4', 'UCLA Medical Center', 1500)" 
print(mycursor.fetchall())

#Execute the rows
my_cursor.execute(row1)
my_cursor.execute(row2)
my_cursor.execute(row3)
my_cursor.execute(row4)

#commit changes to the db
mysql_db.commit()
print(my_cursor.rowcount, 'record inserted into db')

In [ ]:
#Step 7: querry Hospital Table
my_cursor.execute('SELECT * FROM Hospital')
hosp_results = my_cursor.fetchall()
print('\nBelow are the records in the Hospital\'s table:\n')
for i in hosp_results:
    print(i)

In [ ]:
#Create Doctor table
my_cursor.execute('CREATE TABLE Doctor(Doctor_Id INT, Doctor_Name VARCHAR(255), \
                Hospital_Id INT, Joining_Date DATE, Speciality VARCHAR(255), Salary INT, Experience INT NULL)')
# my_cursor.execute('ALTER TABLE Doctor CHANGE Experience Experience INT NULL')
my_cursor.execute('ALTER TABLE Doctor ADD PRIMARY KEY(Doctor_Id)')
my_cursor.execute("SHOW TABLES")

#Insert row into Doctor Table
row_1="INSERT INTO Doctor(Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience)\
      VALUES ('101', 'David', '1', '2005-2-10', 'Pediatric', '40000', NULL)"
row_2="INSERT INTO Doctor(Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience)\
      VALUES ('102', 'Michael', '1', '2018-07-23', 'Oncologist', '20000', NULL)"
row_3="INSERT INTO Doctor(Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience)\
      VALUES ('103', 'Susan', '2', '2016-05-19', 'Garnacologist', '25000', NULL)"
row_4="INSERT INTO Doctor(Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience)\
      VALUES ('104', 'Robert', '2', '2017-12-28', 'Pediatric ', '28000', NULL)"
row_5="INSERT INTO Doctor(Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience)\
      VALUES ('105', 'Linda', '3', '2004-06-04', 'Garnacologist', '42000', NULL)"
row_6="INSERT INTO Doctor(Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience)\
      VALUES ('106', 'William', '3', '2012-09-11', 'Dermatologist', '30000', NULL)"
row_7="INSERT INTO Doctor(Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience)\
      VALUES ('107', 'Richard', '4', '2014-08-21', 'Garnacologist', '32000', NULL)"
row_8="INSERT INTO Doctor(Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience)\
      VALUES ('108', 'Karen', '4', '2011-10-17', 'Radiologist', '30000', NULL)"
print(my_cursor.fetchall())

#Execute the rows
my_cursor.execute(row_1)
my_cursor.execute(row_2)
my_cursor.execute(row_3)
my_cursor.execute(row_4)
my_cursor.execute(row_5)
my_cursor.execute(row_6)
my_cursor.execute(row_7)
my_cursor.execute(row_8)


#commit changes to the db
mysql_db.commit()
print(my_cursor.rowcount, 'record inserted into db')

In [ ]:
#querry Hospital db
my_cursor.execute('SELECT * FROM Doctor')
doc_results = my_cursor.fetchall()
print('\nBelow are the records in the Doctor\'s table:\n')
for j in doc_results:
    print(j)

In [ ]:
''''
*************************************
EXAMPLE3: PPOPULATION MANAGEMENT SYSTEM
******************************************
You are required to implement a Population Management System in Python IDE.
1. Create a database called POPULATION.
2. Create two tables, Location and People on your database.
The Tables should take the format below:
Location Table Fields:
* Location_ID, Location_Name, Population
* Note: Location_ID is the Primary Key
People Table Fields:
* Person_ID, Person_Name, Location_ID, Birth_Date, Profession, Income, Marital status
(NULL)
* Note: Person_ID is the Primary Key while Location_ID is the Foreign Key
3. Create a SQL data model that you will be using for this exercise.
4. Write a code to insert data into the tables. The Tables should contain at least 20 entries of
data. The value for Marital status should remain NULL
5. Display all data in Location and People using the Primary keys.
6. Fetch all people whose income is higher than the specified amount and profession is the
same as the specified.
7. Implement a functionality to fetch all the persons from a specified location.
8. Update person's marital status from NULL and replace with appropriate values. 
'''

#Connect to mysql server
import mysql.connector
my_db = mysql.connector.connect(
host="localhost",
user="root",
password="Root@123"
)
print('Congratulations! You have connected to mysql server successfully!')

In [ ]:
#Drop db if it exists
my_cursor = my_db.cursor()
my_cursor.execute('DROP DATABASE POPULATION')
print('Population Database dropped')

In [ ]:
#Creating a Database named POPULATION
my_cursor = my_db.cursor() #creating a cursor object
PMS_db="CREATE DATABASE POPULATION"
my_cursor.execute(PMS_db)
print(f'Hewalla! Population Database Created successfully')

In [ ]:
#Check if db exists
my_cursor = my_db.cursor()
print('The existing databases are:')
my_cursor.execute('SHOW DATABASES')
print(my_cursor.fetchall())

In [ ]:
#creating connection to population database
my_db = mysql.connector.connect(
host='localhost',
user='root',
password='Root@123',
database='POPULATION'
)
print('Well Done! You have Successfully connected to Population db')

In [ ]:
#Drop tables People and Location Tables if they exist
my_cursor.execute('DROP TABLE People')
print('People Table successfully dropped')
my_cursor.execute('DROP TABLE Location')
print('Location table successfully dropped')

In [ ]:
my_cursor = my_db.cursor()
# Creating a Location table
my_cursor.execute("CREATE TABLE Location (Location_ID INT PRIMARY KEY,Location_Name VARCHAR(255), Population INT)")
print('Welldone! Location table created successfully')
# Creating a People table
my_cursor.execute("CREATE TABLE People (Person_ID INT PRIMARY KEY, Person_Name VARCHAR(255), Location_ID INT, Birth_Date DATE, Profession VARCHAR(255), Income FLOAT, Marital_Status VARCHAR(255) NULL, FOREIGN KEY(Location_ID) REFERENCES Location(Location_ID))")
print('Well done! People table created successully\n')

In [ ]:
#show created tables
print('The list of tables created in Population db are:')
my_cursor.execute('SHOW TABLES')
print(my_cursor.fetchall())

In [ ]:
#Insert Data into Location Table
cols ="INSERT INTO Location(Location_ID, Location_Name, Population) VALUES(%s, %s, %s)"
vals = [
(72254102, "Nairobi", 2005000),
(72254213, "Mombasa", 2770000),
(72254314, "Kisumu", 462020),
(72254415, "kisumu", 3423095),
(72254516, "Narok", 104568),
(72254617, "Kiambu", 3459870),
(72254718, "Makweni", 900564),
(72254819, "Mandera", 51278),
(72254901, "Turkana", 42068),
(72254101, "kisumu", 870456),
(72254012, "kisii", 1056724),
(72254123, "Kisumu", 960575),
(72254134, "Kericho", 1506782),
(72254145, "Eldoret", 1405678),
(72254156, "Jericho", 700681),
(72254167, "Kisumu", 315689),
(72254178, "Machakos", 215645),
(72254189, "Marsabit", 35782),
(72254199, "Meru", 650689),
(72254201, "Kirinyaga",689675)
]
#execute and save to database
my_cursor.executemany(cols, vals)
my_db .commit()
print(my_cursor.rowcount, "records have been inserted successfully into Location table.")

In [ ]:

# Insert data into People table
cols = "INSERT INTO People (Person_ID, Person_Name, Location_ID, Birth_Date, Profession, Income, Marital_Status) VALUES (%s, %s, %s,%s, %s, %s, %s)"
vals = [
(3236001, 'Joseph Bin', 72254102, '1920-02-10', 'Journalist', 70365, None),
(3236002, 'Johnson Watts', 72254213, '1964-10-06', 'Engineer', 321569, None),
(3236003, 'Isaaac Netone', 72254314, '1971-11-16', 'Scientiest', 120334, None),
(3236004, 'Daniel Bright', 72254415, '1947-02-22', 'Engineer',516532, None),
(3236005, 'Doctari Kimotho', 72254516, '1923-02-21', 'Doctor', 125436, None),
(3236006, 'Joseph Tesla', 72254617, '1989-09-12', 'Engineer', 425321, None),
(3236007, 'Philips Antonion', 72254718, '1857-6-13', 'Businessman', 213564, None),
(3236008, 'Ishabel Muchoki', 72254819, '1899-01-25', 'Cook', 70215, None),
(3236009, 'Kanini Kioni', 72254901, '1965-06-15', 'Politician', 125758, None),
(3236000, 'Joshua Otieno', 72254101, '1999-09-20', 'Engineer', 356987, None),
(3236101, 'Caleb Joan', 72254012, '1985-05-23', 'Lawyer', 120563, None),
(3236012, 'Fiona Kamaki', 72254134, '1992-12-25', 'Teacher', 95300, None) ,
(3236013, 'Jactone Venezuella', 72254123, '1886-11-23', 'Data Analyst', 53600, None),
(3236014, 'Mary Mzungu', 72254145, '1981-04-20', 'Recptionist', 37800, None),
(3236015, 'Fridah Abubakar', 72254156, '1999-11-16', 'Accountant', 34500, None),
(3236016, 'Mary Njoki', 72254167, '1993-12-28', 'Lecturer', 81235, None),
(3236017, 'Wajakoya Wambasa', 72254178, '2001-11-12', 'policeman', 78030, None),
(3236018, 'Wambui Wakoli', 72254189, '1896-11-19', 'Pastor', 32156, None),
(3236019, 'Emilly Cheboi', 72254199, '1865-10-16', 'Programmer', 125600, None),
(3236010, 'josephat kilimo', 72254201, '1896-07-26', 'Farmer', 352061, None)
]

#Execute and commit to db
my_cursor.executemany(cols, vals)
my_db.commit()
print(my_cursor.rowcount, "records have been inserted successfully into People table.")

In [ ]:
# fetch all data in Location table using primary key
my_cursor.execute('SELECT * FROM Location ORDER BY Location_ID')
my_results = my_cursor.fetchall()
print('Location table has the following data entries')
print('---------------------------------------------')
for j in my_results:
    print(j)
print(f'\n{my_cursor.rowcount} rows returned')

In [ ]:
# Display all data in People table using pk
my_cursor.execute('SELECT * FROM People ORDER BY Person_ID')
my_results = my_cursor.fetchall()
print('People table has the following data entries:')
print('------------------------------------------------------------------------------------------')
for j in my_results:
    print(j)
print(f'\n{my_cursor.rowcount} rows returned')

In [ ]:
# Fetch all people whose income is higher than 100000 and profession is Engineer
my_cursor.execute("SELECT * FROM People WHERE Income>100000 AND Profession='Engineer' ORDER BY Person_ID")
my_results = my_cursor.fetchall()
print('The following are Engineer earning more than 100000:\n')
for j in my_results:
    print(j)
print(f'\n{my_cursor.rowcount} Engineer(s) returned')

In [ ]:
# fetch all the persons from a specified location
my_cursor.execute("SELECT People.Person_ID, People.Person_Name, People.Location_ID, Location.Location_Name FROM Location INNER JOIN People ON Location.Location_ID=People.Location_ID WHERE Location.Location_Name ='Kisumu'")
my_results = my_cursor.fetchall()
print('The following person(s) come from Kisumu:')
for j in my_results:
    print(j)
print(f'\n{my_cursor.rowcount} person(s) come from kisumu')

In [ ]:
#Update a personâ€™s marital status from NULL to appropriate value
my_cursor.execute("UPDATE People SET Marital_Status='Engaged' WHERE Person_Name = 'Ann Mpole'")
#fetch all records after updates
my_cursor.execute("SELECT * FROM People WHERE Person_Name = 'Jactone Venezuella'")
results = my_cursor.fetchall()
print('The marital status of the following has been updated to engaged:\n')
for j in results:
    print(j)
print(f'\n{my_cursor.rowcount}, record(s) were updated')