In [ ]:
i =30
j = 40
if i > j:
    print(f'i is {i} and is greater than j which is {j}')
elif i < j:
    print(f'i is {i} and is less than than j which is {j}')

In [ ]:
i =30
j = 30
if i > j:
    print(f'i is {i} and is greater than j which is {j}')
elif i < j:
    print(f'i is {i} and is less than than j which is {j}')
else:
    print(f'i is {i} and is equal to j which is {j}')

In [ ]:
i =30
j = 10
k = 40
if i > j:
    print(f'i is {i} and is greater than j which is {j}')
    if i < k:
        print(f'Yes i = {i} is also less than k= {k}')
elif i < j:
    print(f'i is {i} and is less than than j which is {j}')
else:
    print(f'i is {i} and is equal to j which is {j}')

In [ ]:
import random
X= random.random()
Y= random.randint(0,4)

print(int(X),":",Y+int(X))

In [ ]:
import mysql.connector
my_db_server = mysql.connector.connect(host = '127.0.0.1', user = 'root', password = 'Root@123', port =3306 )
print('Connected successfully to mysl server')

In [ ]:
my_cursor = my_db_server.cursor() #querry records from db
my_db = 'CREATE database EMPLOYEE'
my_cursor.execute(my_db) #execute db
print('List of Databases is:')
my_cursor.execute('SHOW DATABASES')
print(my_cursor.fetchall())

In [ ]:
# Connect to the db
import mysql.connector
my_db_server = mysql.connector.connect(host="localhost", user="root", password="Root@123", database="EMPLOYEE")
mycursor =my_db_server.cursor()
print(f'Connection successful for db objects \n{my_db_server}')

In [ ]:
#Create tables
mycursor.execute("CREATE TABLE STAFF (Staff_ID INT PRIMARY KEY, Name VARCHAR(255), Department VARCHAR(255), Gender VARCHAR (255), Experience INT)")
mycursor.execute("CREATE TABLE SALARY (Staff_ID INT , Basic FLOAT, Allowance FLOAT, Commission FLOAT, FOREIGN KEY(Staff_ID) REFERENCES STAFF(Staff_ID))")

In [ ]:
mycursor =my_db_server.cursor()
mycursor.execute("SHOW TABLES") #show tables
print(mycursor.fetchall())

In [ ]:
cols = "INSERT INTO STAFF(Staff_ID, Name, Department, Gender, Experience) VALUES(%s, %s, %s, %s, %s)"
vals = [
(1, 'Milcent Doe', 'IT', 'Male', 2),
(2, 'John Doe', 'IT', 'Male', 5),
(3, 'John Jack', 'Network', 'Male', 4),
(4, 'John Joe', 'HR', 'Male', 6),
(5, 'John Mark', 'Marketting', 'Male', 7),
(6, 'Milly Doe', 'IT', 'Female', 5)
]
mycursor.executemany(cols, vals)

In [58]:
#Commit to db
my_db_server.commit()
print(mycursor.rowcount, "records inserted into  table.")

6 records inserted into  table.

In [ ]:
cols = "INSERT INTO SALARY(Staff_ID, Basic, Allowance, Commission) VALUES(%s, %s, %s, %s)"
vals = [
    (1, 1000, 101, 100),
    (2, 1000, 102, 100),
    (3, 1003, 101, 140),
    (4, 1000, 101, 100),
    (5, 1000, 101, 106),
    (6, 1000, 101, 10),

]
mycursor.executemany(cols, vals)

In [59]:
mycursor.executemany(cols, vals)
my_db_server.commit()
print(mycursor.rowcount, "records inserted into  table.")

6 records inserted into  table.